/*.portfolio {
  text-align: center;

  &__thumb {
    border: 3px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0 10px;
    width: 85%;

  }

  &__photo {

    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
    display: inline-block;

    @mixin atLarge {
      width: 95%;
    }
  }

  &__photo:hover {
    opacity: .6;
  }


}*/

.portfolio {
  &__section {
    height: 66vh;
    display: flex;
    align-items: center;
  }

  &__thumb {
    flex: 1;
    height: 80%;
    margin: 10px;

    img {
      border: 2px solid gray;
      border-radius: 10px;
    }
  }

  &__text {
    flex: 2;
    height: 80%;
    padding-left: 100px;
    padding-right: 100px;

    * {
      margin-bottom: 20px;
    }

    &__title {
      font-weight: bold;
      font-size: 2rem;
    }

    &__subtitle {
      font-weight: bold;
      font-size: 1.2rem;
    }

    &__description {
      line-height: 1.5;
    }
  }
}
